In [1]:
import pandas as pd
import numpy as np

In [2]:
WB_Data_df = pd.read_excel("/Users/cpt.flippers/Documents/CS 368/Project/SQL DDL/WBData.xlsx", sheet_name="Data")
WB_Country_df = pd.read_excel("/Users/cpt.flippers/Documents/CS 368/Project/SQL DDL/WBData.xlsx", sheet_name="Country")
ESG_Data_df = pd.read_excel("/Users/cpt.flippers/Documents/CS 368/Project/SQL DDL/ESGEXCEL.xlsx", sheet_name="Data")
CA_Data_df = pd.read_excel("/Users/cpt.flippers/Documents/CS 368/Project/SQL DDL/RawClimateAgreements.xlsx")

WB_Data_df.set_index('Country code', inplace=True)
WB_Country_df.set_index('Country code', inplace=True)
ESG_Data_df.set_index('Country Code', inplace=True)
CA_Data_df.set_index('Country', inplace=True)

WB_Data_df = WB_Data_df.replace('..', "NULL")
WB_Country_df = WB_Country_df.replace('..', "NULL")
ESG_Data_df = ESG_Data_df.replace('..', "NULL")
CA_Data_df = CA_Data_df.fillna('NULL')

In [5]:
WB_Data_df.head()

,Country name,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,1994,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
Country code,,,,,,,,,,,,,,,,,,,,,
ABW,Aruba,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,29.57481,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
ADO,Andorra,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
AFG,Afghanistan,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
AGO,Angola,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0.208235,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
ALB,Albania,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,4.967875,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL